In [ ]:
import pandas as pd

Data Cleaning issues - 
    - Duplicate entries
    - unwanted columns
    - Missing values
    - Outliers

In [ ]:
# load the file datawh_missing.csv
df = pd.read_csv(r"E:\Xebia\xebia_training_data\datasets\datawh_missing.csv")
df.head()

### Duplicate Entries

In [ ]:
# to check for duplicates
df.duplicated().sum()

In [ ]:
# to drop duplicates
df.drop_duplicates(inplace=True)

## unwanted columns

In [ ]:
# to drop any unwanted column 
# lets consider we want to drop the Dates column
print(df.shape)
df.drop(['Dates'],axis=1,inplace=True) # axis = 1 shows we want to drop a column, 0 = ro
print(df.shape)

In [ ]:
df.head()

## Handling missing values

In [44]:
# load the file datawh_missing.csv
df = pd.read_csv(r"E:\Xebia\xebia_training_data\datasets\datawh_missing.csv")
df.head()

        Dates Temperature Humidity Pressure Air Quality
0  30-04-2018         218      182        4           2
1  01-05-2018           ?      182        3           2
2  02-05-2018           .      439      NaN           0
3  03-05-2018        2439       53        5           1
4  04-05-2018         824      444        5         NaN

In [ ]:
# check for missing values
df.isnull().sum()

In [ ]:
df

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Dates        20 non-null     object
 1   Temperature  20 non-null     object
 2   Humidity     20 non-null     object
 3   Pressure     18 non-null     object
 4   Air Quality  19 non-null     object
dtypes: object(5)
memory usage: 928.0+ bytes

In [46]:
df.skew()

Series([], dtype: float64)

In [54]:
# load the file datawh_missing.csv
df = pd.read_csv(r"E:\Xebia\xebia_training_data\datasets\datawh_missing.csv",
                na_values=['.','?'])
df.head()

        Dates  Temperature  Humidity  Pressure  Air Quality
0  30-04-2018        218.0     182.0       4.0          2.0
1  01-05-2018          NaN     182.0       3.0          2.0
2  02-05-2018          NaN     439.0       NaN          0.0
3  03-05-2018       2439.0      53.0       5.0          1.0
4  04-05-2018        824.0     444.0       5.0          NaN

In [55]:
# check for missing values
df.isnull().sum()

Dates          0
Temperature    7
Humidity       3
Pressure       7
Air Quality    2
dtype: int64

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Dates        20 non-null     object
 1   Temperature  13 non-null     float64
 2   Humidity     17 non-null     float64
 3   Pressure     13 non-null     float64
 4   Air Quality  18 non-null     float64
dtypes: float64(4), object(1)
memory usage: 928.0+ bytes

In [57]:
df

         Dates  Temperature  Humidity  Pressure  Air Quality
0   30-04-2018        218.0     182.0       4.0          2.0
1   01-05-2018          NaN     182.0       3.0          2.0
2   02-05-2018          NaN     439.0       NaN          0.0
3   03-05-2018       2439.0      53.0       5.0          1.0
4   04-05-2018        824.0     444.0       5.0          NaN
5   05-05-2018       1744.0       NaN       5.0          1.0
6   06-05-2018        786.0       NaN       5.0          1.0
7   07-05-2018       1326.0     309.0       NaN          1.0
8   08-05-2018       1804.0     188.0       NaN          2.0
9   09-05-2018          NaN     420.0       0.0          1.0
10  10-05-2018       2524.0     433.0       1.0          0.0
11  11-05-2018       2945.0     149.0       NaN          0.0
12  12-05-2018          NaN     531.0       1.0          1.0
13  13-05-2018       1318.0     360.0       3.0          2.0
14  14-05-2018          NaN     435.0       NaN          2.0
15  15-05-2018          NaN     259.0       4.0          0.0
16  16-05-2018          NaN       NaN       NaN          NaN
17  17-05-2018       2200.0     325.0       3.0          2.0
18  18-05-2018       1722.0     523.0       NaN          2.0
19  19-05-2018        766.0     535.0       3.0          2.0

In [58]:
# dropping thw rows having less than 60% of real data i.e. more than 40% missing data
# total columns = 5, we will drop those rows having more than 2 missing values or less than 3 real values
print(df.shape)
df.dropna(thresh=3,inplace=True)
print(df.shape)

(20, 5)
(19, 5)

In [59]:
df

         Dates  Temperature  Humidity  Pressure  Air Quality
0   30-04-2018        218.0     182.0       4.0          2.0
1   01-05-2018          NaN     182.0       3.0          2.0
2   02-05-2018          NaN     439.0       NaN          0.0
3   03-05-2018       2439.0      53.0       5.0          1.0
4   04-05-2018        824.0     444.0       5.0          NaN
5   05-05-2018       1744.0       NaN       5.0          1.0
6   06-05-2018        786.0       NaN       5.0          1.0
7   07-05-2018       1326.0     309.0       NaN          1.0
8   08-05-2018       1804.0     188.0       NaN          2.0
9   09-05-2018          NaN     420.0       0.0          1.0
10  10-05-2018       2524.0     433.0       1.0          0.0
11  11-05-2018       2945.0     149.0       NaN          0.0
12  12-05-2018          NaN     531.0       1.0          1.0
13  13-05-2018       1318.0     360.0       3.0          2.0
14  14-05-2018          NaN     435.0       NaN          2.0
15  15-05-2018          NaN     259.0       4.0          0.0
17  17-05-2018       2200.0     325.0       3.0          2.0
18  18-05-2018       1722.0     523.0       NaN          2.0
19  19-05-2018        766.0     535.0       3.0          2.0

In [60]:
# imputing the missing values by mean/median/mode

    - if skewness > +0.1 or skewness < -0.1:
            skewed distribution, median
    - if skewness is between -0.1 to +0.1:
            Normal distribution, mean

In [61]:
df.skew()

Temperature    0.019636
Humidity      -0.367387
Pressure      -0.670499
Air Quality   -0.451480
dtype: float64

In [62]:
# imputing missing values in temperature by mean of temperature as it is normally distributed
df['Temperature'].fillna(df['Temperature'].mean(),inplace=True)

In [63]:
# check for missing values
df.isnull().sum()

Dates          0
Temperature    0
Humidity       2
Pressure       6
Air Quality    1
dtype: int64

In [64]:
# imputing missing values in rest all columns by medians of those cols
df.fillna(df.median(),inplace=True)

In [65]:
# check for missing values
df.isnull().sum()

Dates          0
Temperature    0
Humidity       0
Pressure       0
Air Quality    0
dtype: int64

In [66]:
# imputing missing values in rest all columns by medians of those cols
df2 = df.fillna(df.median(),inplace=False)

## Outliers

    - if skew > +1  = variable has extreme higher value, high value outlier
        - drop the extreme high 1% of data, drop the rows having values higher than 99%
        
    - if skew < -1 = variable has extreme low value, low value outliers
        - drop the extreme low 1% of data, drop the rows having values lower than 0.01%m

In [67]:
df.skew()

Temperature    0.022743
Humidity      -0.434920
Pressure      -0.594362
Air Quality   -0.410217
dtype: float64

In [68]:
# introducing an outlier for quick understanding of the concept
df['Temperature'][13] = 18000
df.skew()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Temperature    4.144687
Humidity      -0.434920
Pressure      -0.594362
Air Quality   -0.410217
dtype: float64

In [69]:
# temperature has skewness > +1, it has extremely high values as outliers
# we can drop the rows having values of temperature more than 99% of the temperature col

In [70]:
print(df.shape)
df = df[df.Temperature<df.Temperature.quantile(0.99)]
print(df.shape)

(19, 5)
(18, 5)

In [71]:
df.skew()

Temperature   -0.047686
Humidity      -0.402076
Pressure      -0.602774
Air Quality   -0.318105
dtype: float64